
///////////////////////////////////
//scroll style
::-webkit-scrollbar-button {
    background-image:url('');
    background-repeat:no-repeat;
    width:5px;
    height:0px
 }
 ::-webkit-scrollbar-track {
    background-color:#ecedee;
 }
 ::-webkit-scrollbar-thumb {
    -webkit-border-radius: 1px;
    border-radius: 1px;
    background-color:#d7190f;
    -moz-border-radius: 1px;
    -ms-border-radius: 1px;
    -o-border-radius: 1px;
 }
 ::-webkit-scrollbar-thumb:hover{
    background-color:#d7190f;
 }
 ::-webkit-resizer{
    background-image:url('');
    background-repeat:no-repeat;
    width:4px;
    height:0px
 }
 ::-webkit-scrollbar{
    width: 4px;
 }
 //
 ///////////////////////////////////
html{
    scroll-behavior: smooth; 
    
}
*{
    margin: 0;
    padding: 0;
    user-select: none;
    font-family: 'Jura', sans-serif;
}
a{
    cursor: pointer;
}
.content-width{
    margin: 0 auto 25px auto;
    max-width: 1024px;
}

// all styles
body{
    .menu-wrap{
        max-width: 1920px;
        display: flex;
        flex-direction: row;
        background-color: #272727;
        .block-wrap{
            width: 50%;
            height: 95vh;
            opacity: .2;
    
            transition: .5s ease-in-out;
            transition-delay: .1s;
            transform-style: flat;
    
            display: flex;
            justify-content: center;
            align-items: center;
    
            text-decoration: none;
            color: #fff;
    
            filter: grayscale(100%);
            .content-block{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                h2{
                    text-align: center;
                    text-decoration: none;
                    font-family: 'Jura', sans-serif;
                    font-size: 1.7em;
                    text-align: center;
    
                    text-shadow: 1px 1px 5px #000000;
                    opacity: 0;
    
                    transition: .5s ease-in-out;
                    transition-timing-function: cubic-bezier(0.5, -0.55, 0.265, 2);
                    transition-delay: .1s;
                    transform-style: flat;
                }
                img{
                    width: 300px; 
                    min-width: 150px;
                    padding: 10px;
                    margin-bottom: 25px;
                    background-color: #fff;
                    border-radius: 25px;
    
                    transition: .5s ease-in-out;
                    transition-timing-function: cubic-bezier(0.5, -0.55, 0.265, 2);
                    transition-delay: .1s;
                    transform-style: flat;
                }
            }
        }
        .one{
            background-image: url(/images/first-page/one.jpg);
            background-size: cover;
            background-position: center;
        }
        .two{
            background-image: url(/images/first-page/two.jpg);
            background-size: cover;
            background-position: center;
        }
        .block-wrap:hover{
            filter: none;
            width: 65%;
            opacity: 1;
        }
        .block-wrap:hover img{
            transform: scale(1.1);
        }
        .block-wrap:hover h2{
            opacity: 1;
        }
    }
    .foot-wrap{
        z-index: 10;
        width: 100%;
        padding-top: 13px;
        padding-bottom: 10px;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: rgb(255, 255, 255);
        a{
            text-align: center;
            text-decoration: none;
            color: #4d4d4d;
        }
    }
}

@import "media.scss";