@media only screen and (max-width: 1023px) {
    body{
        .menu-wrap{
            .block-wrap{
                filter: none;
                box-sizing: border-box;
                opacity: 1;
    
                -webkit-box-shadow: inset 0px 0px 21px -12px rgba(0,0,0,0.75);
                -moz-box-shadow: inset 0px 0px 21px -12px rgba(0,0,0,0.75);
                box-shadow: inset 0px 0px 21px -12px rgba(0,0,0,0.75);
                animation-name: scaleBlock;
    
                
                    .content-block{
                        h2{
                            opacity: 1;
                        }
                        img{
                            width: 300px; 
                            min-width: 150px;
                            padding: 10px;
                            background-color: #fff;
                            border-radius: 25px;
    
                            animation: scaleBlock  4s infinite ease-in-out;
    
                            margin-bottom: 15px;
                        }
                        @keyframes scaleBlock {
                            0%{
                                transform: scale(1);
                            }
                            50%{
                                transform: scale(1.05);
                            }
                            100%{
                                transform: scale(1);
                            }
                        }
                    }
            }
        }
    }
}
@media only screen and (max-width: 700px) {
    body{
        .menu-wrap{
            display: flex;
            flex-direction: column;
            justify-content: center;
            background-color: #dbdbdb;
            align-items: center;
            .block-wrap{
                width: 100%;
                height: 100%;
                opacity: 1;
                padding: 7px;
                padding-top: 150px;
                padding-bottom: 150px;
            }
        }
    }
}
@media only screen and (max-width: 450px) {
    body{
        .menu-wrap{
            .block-wrap{
                filter: none;
                box-sizing: border-box;
                opacity: 1;
    
                -webkit-box-shadow: inset 0px 0px 21px -12px rgba(0,0,0,0.75);
                -moz-box-shadow: inset 0px 0px 21px -12px rgba(0,0,0,0.75);
                box-shadow: inset 0px 0px 21px -12px rgba(0,0,0,0.75);
                animation-name: scaleBlock;
    
                
                    .content-block{
                        h2{
                        }
                        img{
                            width: 200px;
                        }
                    }
            }
        }
    }
}
@media only screen and (max-width: 320px) {
    body{
    }
}