@import "variables.scss";
@import "mixins.scss";


*{
    margin: 0;
    padding: 0;
    user-select: none; 
    font-family: 'Rubik', sans-serif;
}
a {
    cursor: pointer;
}
.content-width{
    margin: 0 auto;
    max-width: 1024px;
}

// all styles
body{
    padding: 40px;
    background-color: #C4C4C4;
    header{
        .header-wrap{
            background-color: #fff;
            box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
            height: 60px;
            padding: 7px 17px;
    
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
            align-items: center;
            .logo-wrap{
                .logo{
                    width: 47px;
                    height: 47px;
                }
            }
            .nav-wrap{
                ul{
                    list-style: none;
                    display: flex;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    li{
                        margin-right: 54px;
                        padding-top: 2px;
                        padding-bottom: 2px;
    
                        border-top: 4px solid transparent;
                        border-bottom: 4px solid transparent;
    
                        @include animation;
                        a{
                            font-family: Rubik;
                            font-style: normal;
                            font-weight: 500;
                            font-size: 18px;
                            line-height: 21px;
                            text-transform: uppercase;
                            text-decoration: none;
        
                            color: #00AFF3;
                        }
                    }
                    li:last-child{
                        margin-right: 0;
                    }
                    li:hover{
                        border-bottom: 4px solid #FF0090;
                    }
                }
            }
        }
    }
    .content-wrap{
        margin-top: 25px;
        .product_item-wrap{
            background-color: #fff;
            box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
            padding: 20px;
    
            display: flex;
            justify-content: space-between;
            margin-bottom: 25px;
            /* flex-wrap: wrap; */
            .product-item{
                border: 5px solid transparent;

                width: 23.333333%;
                min-width: 175px;
                height: auto;
                margin: 10px;
                padding-bottom: 20px;
                display: flex;
                justify-content: space-between;
                flex-direction: column;
                align-items: center;

                box-sizing: content-box;
                text-decoration: none;
                text-transform: none;

                @include animation;
                .icon-wrap{
                    width: 100%;
                    margin-bottom: 30px;
                    padding: 10px;
                    .logo{
                        width: 100%;
                    }
                }
                .product-title{
                    color: #313131;

                    font-style: normal;
                    font-weight: 700;
                    font-size: 20px;
                    line-height: 24px;

                    text-align: center;
                    letter-spacing: 0.2em;
                    text-transform: uppercase;
                }
            }
        }
        .table_item-wrap{
            background-color: #fff;
            box-shadow: 0px 4px 2px rgba(0, 0, 0, 0.1);
            padding: 20px;
            margin-bottom: 25px;
            padding-top: 25px;
            padding-bottom: 25px;
            .table-wrap{
                .table-header-wrap{
                    display: flex;
                    justify-content: center;

                    margin-bottom: 30px;
                    h2{
                        font-weight: bold;
                        font-size: 24px;
                        line-height: 28px;
                        letter-spacing: 0.115em;
                        text-transform: uppercase;

                        color: #00AFF3;
                    }
                }
                /* table */
                .table-one-wrap{
                    overflow: auto;
                    margin-bottom: 25px;
                    table{
                        background: #FFFFFF;
                        border: 1px solid #CECECE;

                        width: 100%;
                        border-collapse: collapse;
                        tr{
                            th{
                                text-align: center;

                                font-style: normal;
                                font-weight: bold;
                                font-size: 14px;
                                line-height: 19px;
                                /* identical to box height */


                                color: #333333;

                                padding: 15px 12px;

                                background: #DDDDDD;
                                span{
                                    font-size: 12px;
                                }
                            }
                            td{
                                text-align: center;
                                padding: 16px 20px;

                                font-style: normal;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 19px;
                                color: #03719C;
                                span{
                                    color: #E40303;
                                }
                            }
                            .descr{
                                font-style: normal;
                                font-weight: bold;
                                font-size: 16px;
                                line-height: 19px;
                                text-align: center;

                                color: #333333;
                            }
                            td:nth-child(1){
                                background-color: #FFFFFF;
                            }
                            td:nth-child(2){
                                background-color: #FFFFFF;
                            }
                            td:first-child{
                                border-right: 1px solid #CECECE;
                            }
                        }
                        .one-row{
                            background: #D9EBF7;
                        }
                        .two-row{
                            background: #D9E9DC;
                        }
                        .three-row{
                            background: #FFDEA3;
                        }
                    }
                }
                .table-one-wrap:nth-child(2n) table{
                    border: 2px solid #CECECE;
                }
            }
        }
    }
}
@import "media.scss";
 