<section class="contact_wrap">
    <div class="content-block">
       <div class="info-column">
          <div class="contact-item">
             <a href="tel:+380684990548">
                <img src="img/icon/phone-call.svg" alt="">
                <p>+38 (068) 499 05 48</p>
             </a>
          </div>
          <div class="contact-item">
             <a href="mailto:eugenekobeliaksky@gmail.com">
                <img src="img/icon/gmail.svg" alt="">
                <p>eugenekobeliaksky@gmail.com</p>
             </a>
          </div>
       </div>
       <div class="info-column">
          <div class="contact-item">
             <a href="https://www.facebook.com/fastprintkremen/?modal=admin_todo_tour">
                <img src="img/icon/facebook.svg" alt="">
                <p>Fast Print</p>
             </a>
          </div>
          <div class="contact-item">
             <a href="tg://resolve?domain=ekobilske. online">
                <img src="img/icon/telegram.svg" alt="">
                <p>ekobilske.online</p>
             </a>
          </div>
       </div>
    </div>
 </section>