<head>
    <meta charset="utf-8">
    <title>Друкуй швидко!</title>
    <meta name="description" content="My resume">
    <meta name="author" content="Eugene Kobeliaksky">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/layout.css">
    <link rel="stylesheet" href="css/media-queries.css">
    <link rel="stylesheet" href="css/magnific-popup.css"> -->
    <meta property="og:title" content="Друкуй швидко!">
    <meta property="og:site_name" content="ekobilske.online">
    <meta property="og:url" content="My resume">
    <meta property="og:description" content="">
    <meta property="og:image" content="images/98342775_1115807662124498_3020787848035958784_o.jpg">
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto:500&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,600,700,800&display=swap&subset=cyrillic" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <script src="js/modernizr.js"></script>
    <link rel="shortcut icon" href="img/icon//favicon-order.png" >
    <script src="./js/main.js"></script>
    <script data-ad-client="ca-pub-3936859351665103" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>