<section class="slider-wrap">
    <div class="slider">
       <div class="slider__wrapper">

          <!--  -->
          <!-- slider items -->
          <!--  -->
          <a href="###" class="slider__item">
             <div class="slide_item">
                <div class="photo-wrap">
                   <img src="./img/slider-item/book.jpg" alt="">
                </div>
                <div class="description-wrap">
                   <h3 class="product-title">Блокноти</h3>
                   <h4 class="product-info">148x210 мм</h4>
                   <p class="product-text-1">Обкладинка: мел глянець 300</p>
                   <p class="product-text-2">Внутрішній блок: офсет 80</p>
                   <h5 class="product-price">від 65 грн</h5>
                </div>
             </div>
          </a>
          <!--  -->
          <!-- /slider items -->
          <!--  -->
          
          <!--  -->
          <!-- slider items -->
          <!--  -->
          <a href="###" class="slider__item">
             <div class="slide_item">
                <div class="photo-wrap">
                   <img src="./img/slider-item/card-gold.jpg" alt="">
                </div>
                <div class="description-wrap">
                   <h3 class="product-title">Візитівки</h3>
                   <h4 class="product-info">Мел 350</h4>
                   <p class="product-text-1">Покриття: тиснення золотом</p>
                   <p class="product-text-2"></p>
                   <h5 class="product-price">від 830 грн</h5>
                </div>
             </div>
          </a>
          <!--  -->
          <!-- /slider items -->
          <!--  -->
          
       </div>
       <a class="slider__control slider__control_left" href="#" role="button"></a>
       <a class="slider__control slider__control_right slider__control_show" href="#" role="button"></a>
     </div>
 </section>