<section class="slider-partner-wrap">
   <div class="title-wrap">
      <h2>Наші партнери</h2>
   </div>
   <div class="container-wrap">
      <a href="http://superhero.net.ua/">
         <img src="img/logo-partners/super.svg" alt="">
      </a>
      <a href="https://www.robo-expo.com.ua/">
         <img src="img/logo-partners/trans.svg" alt="">
      </a>
      <a href="https://www.facebook.com/eatmeatshopzaporozhye/">
         <img src="img/logo-partners/eat.svg" alt="">
      </a>
   </div>
</section>
 