@charset "UTF-8";
@media only screen and (max-width: 800px) {
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    /* 2 слайди у враппері */
    max-width: 100%;
    background-color: #f6f6f6;
    /* padding: 10px; */
    text-decoration: none;
  }
}

@media only screen and (max-width: 700px) {
  body .content-wrap .contact_wrap .content-block {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  body .content-wrap .contact_wrap .content-block .info-column .contact-item a img {
    width: 70px;
    margin-right: 0;
  }
  body .content-wrap .contact_wrap .content-block .info-column .contact-item a p {
    display: none;
  }
}

@media only screen and (max-width: 450px) {
  body header .header-wrap .logo-wrap a .larg-logo {
    display: none;
  }
  body header .header-wrap .logo-wrap a .small-logo {
    display: block;
  }
  body .content-wrap {
    margin-top: 25px;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    /* 2 слайди у враппері */
    max-width: 100%;
    background-color: #f6f6f6;
    /* padding: 10px; */
    text-decoration: none;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item .slide_item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item .slide_item .photo-wrap {
    width: 100%;
    height: 200px;
    overflow: hidden;
    margin-bottom: 15px;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item .slide_item .photo-wrap img {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item .slide_item .description-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: left;
        -ms-flex-align: left;
            align-items: left;
    text-decoration: none;
    height: auto;
    /* justify-content: space-between; */
    position: relative;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item .slide_item .description-wrap .product-title {
    font-size: 18px;
    text-transform: uppercase;
    color: #FDF002;
    background-color: #EA008A;
    width: 100%;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
    margin-bottom: 10px;
    text-align: center;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item .slide_item .description-wrap .product-info {
    font-size: 16px;
    margin-left: 0;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item .slide_item .description-wrap .product-text-1 {
    font-size: 14px;
    margin-bottom: 10px;
    margin-left: 0;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item .slide_item .description-wrap .product-text-2 {
    margin-left: 0;
    margin-bottom: 35px;
  }
  body .content-wrap .slider-wrap .slider .slider__wrapper .slider__item .slide_item .description-wrap .product-price {
    margin: 0;
    margin-top: 10px;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 18px;
    text-transform: uppercase;
    color: #EA008A;
    background-color: #FDF002;
    width: 100%;
    text-align: center;
    text-decoration: none;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  body .content-wrap .slider-wrap .slider__control {
    top: 30%;
  }
  body .content-wrap .product_item-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  body .content-wrap .product_item-wrap .product-item {
    width: 80%;
  }
  body .content-wrap .product_item-wrap .product-item .product-title {
    font-size: 1.1rem;
  }
  body .content-wrap .product_item-wrap .product-item .description {
    font-size: 20px;
  }
}
/*# sourceMappingURL=media.css.map */